.bginfo{
    background-color: orange;
}
.Image{
    background-image: url("./images/WhatsApp\ Image\ 2025-01-28\ at\ 6.43.36\ PM.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-menu{
    width: 250px;
    height: 40px;
    border-radius: 25px;
    margin-left:20px;
    margin-top: -90px;
    text-align: center;
    border: none;
}

.search-button{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-left: 5px;
    margin-top: -90px;
    background-color: orangered;
    border: 2px solid white;
}
.para{
    color: white;
    margin-top: -250px;
    margin-left: 540px;

}
.second-para{
    margin-left: 90px;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    background-color: white;
    margin-bottom: 20px;
    text-align: right;
}

    .productcard {
        border: 1px solid  rgb(255, 255, 255);
        border-radius: 2px;
        background: white;
        margin-bottom: 30px;
    }

.productcard:hover {
    transform: scale(1.05);
} 


.productcard {
    border: 1px solid white;
    padding: 10px;
    border-radius: 8px;
    text-align: top;
    background: white;
    box-shadow: 2px 2px 10px rgba(7, 7, 7, 0.1);
    transition: transform 0.2s;
    margin-bottom: 30px;
}
img {
    max-width: 100%;
    display: block;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.category {
    width: 150px;
    text-align: center;
}
